* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #34db7a, #ccc);
}

.main-container{
  background-color: #fff;
  box-shadow: 0 0 10px #48574e;
  padding: 20px;
  border-radius: 10px;
  height: 260px;
  width: 400px;
  transition: 0.2s;
}

.main-container.active {
    height: 500px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

#desc {
  color: #928e8e;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

#qr-form {
  margin: 20px 15px;
}

#qr-form input,
button {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

#qr-form input {
  padding: 10px 15px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

#qr-form #text-qrcode::placeholder {
  color: #a7a5a5;
}

#qr-form button {
  background-color: #086824;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.4s;
}

#qr-form button:hover {
    opacity: 1;
}

figure {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  opacity: 0;
  padding: 30px 0;
  margin: 20px 15px;
  transition: 0.5s;;
}

.main-container.active figure{
    opacity: 1;
}
